<!-- Include head.ejs partial -->
<%- include('../partials/head') %>

<body>
    <!-- Include header.ejs partial -->
    <%- include('../partials/header') %>

    <div class="main">
        <div class="box hero">
            <h2>Welcome to EJS</h2>
            <p>Embedded JavaScript templating.</p>
        </div>
        <div class="box home-nav-row">
            <div class="home-nav-col">
                <h3>Part 1</h3>
                <ul>
                    <li><a href="/question1">Question 1</a></li>
                    <li><a href="/question2">Question 2</a></li>
                    <li><a href="/question3">Question 3</a></li>
                    <li><a href="/question4">Question 4</a></li>
                    <li><a href="/question5">Question 5</a></li>
                </ul>
            </div>
            <div class="home-nav-col">
                <h3>Part 2</h3>
                <ul>
                    <li><a href="/question6">Question 6</a></li>
                    <li><a href="/question7">Question 7</a></li>
                    <li><a href="/question8">Question 8</a></li>
                    <li><a href="/question9">Question 9</a></li>
                    <li><a href="/question10">Question 10</a></li>
                </ul>
            </div>
        </div>
    </div>
</body>
